<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>app下载</title>
<!--H5页面窗口自动调整到设备宽度，并禁止用户缩放页面-->
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
<!--将网站添加到主屏幕快速启动方式，仅针对ios的safari顶端状态条的样式  -->  
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
<!--忽略将页面中的数字识别为电话号码-->
    <meta content="telephone=no" name="format-detection">
<!--忽略Android平台中对邮箱地址的识别 -->   
    <meta name="format-detection" content="email=no" />
    <!--winphone系统a、input标签被点击时产生的半透明灰色背景怎么去掉-->
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/axios.min.js"></script>
    <script src="js/vue.min.js"></script>
</head>
<body>
<div class="wrapper">
	<header class="header">
    	<h2>ipapk-server</h2><br>
        <a class="attention" href="/cer/myCA.cer">如果出现【无法验证服务器身份】或【无法链接到】，请点击链接安装证书</a>
        <p>iOS 10.3后 默认不信任安装的证书，需要手动信任。</p>
        <span>设置 > 通用 > 关于 > 证书信任设置 > 对需要的证书启用完全信任</span>
    </header>
    <div class="app_wrapper">
        <div class="platform_wrapper">
            <ul class="app_list" v-if="has_data">
                <li v-for="app in apps" :key="app.id">
                    <div class="app_info">
                        <img :src="app.icon">
                        <div class="info_box">
                            <span class="app_name">{{app.name}}</span>
                            <span class="version_number">{{app.version}}({{app.build}})</span><br>
                            <span>更新:</span>
                            <span class="update_time">{{app.uploadTime}}</span>
                            <br><span class="changelog">{{app.changelog ? app.changelog : ""}}</span>
                        </div>
                        <a class="down_btn" :href="app.url">下载</a>
                    </div>
                </li>
            </ul>
            <div class="moreAppButton" v-on:click="loadApps" v-if="show_load_more_apps_button"><span>加载更多</span></div>
        </div>
    </div>
    <p class="support">网站由<a href="https://github.com/zhao0/ipapk-server">ipapk-server</a>项目支持</p>
</div>
</body>
<script src="js/versionlist.js"></script>
</html>
